body,html {
    margin: auto;
   border: solid 10px; color:rgb(27, 72, 57);
   background-image: url(".imag/maos-corrente-agua");
   }
   h3{
    text-align: center;
}

p {
    text-decoration: dashed;
}
