HTML,body {
    margin: 0%;
    background-color: rgb(154, 236, 236);
}

#imagem {

        background: rgb(70, 171, 205) url("agua.jpg") no-repeat fixed center;
        width: 100%;
        padding: 20% 10% 10% 1%;
        text-align: center;
        background-size: cover;
}

#txt_1 {
    
        color: blue;
            font-size: 40px;
        text-shadow: 2px 2px 5px black;
}

#subtexto {
        
            color: blue;
            padding-left: 10%;
            padding-right: 10%;
    }

#titulo_1 {

            text-align: center;
            color: blue;
}

#conteudo1 {
            text-align: justify;
            
            padding-left: 5%;
            padding-right: 5%;
            font-family: Georgia, 'Times New Roman', Times, serif;
            line-height: 1.5;
       
}
#titulo_2 {
            text-align: center;
            color: blue;
            padding-left: 5%;
            padding-right: 5%;
}
.coluna {
           
            float: left;
            width: 40%;
            padding-left: 5%;
            padding-right: 5%;
            text-align: justify;
            align-items: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            line-height: 1.5;
            position: relative;
}     

.riotiete {
            float: right;
            width: 40%;
            padding-left: 5%;
            padding-right: 5%;
            text-align: justify;
            align-items: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            line-height: 1.5;
            position: relative;
}
.historia {
            float: right;
            width: 40%;
            padding-left: 5%;
            padding-right: 5%;
            text-align: justify;
            align-items: center;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
            line-height: 2.0;
            position: relative;


}







    
   
       

